.text-left {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: center;
}

.login-container .weui-cells {
  background: transparent !important;
  color: #ffffff;
}
